/*! ------- Applies to All Pages ------- */
html {
  background-image: url(./assets/stadiumBackgroundImage2.jpg);
  background-size: 1900px;
  background-attachment: fixed;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#root {
  margin-top: 15px;
}
.playerDetailsPhoto > img {
  width: 250px;
  border-radius: 25px;
}
/*! ------- PlayerTiles.jsx Styling ------- */
.addNewPlayerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.newPlayerButton {
  background-color: #1e4775ec;
  color: #f6b40dec;
  font-weight: bold;
}
.newPlayerButton {
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.allPlayerTilesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.playerTileImage {
  width: 200px;
  border-radius: 25px;
  margin: 15px;
}
.dogPlayerTiles:nth-child(even) {
  background-color: #f6b40dc0;
  color: black;
  margin: 25px;
  text-align: center;
  border-radius: 25px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dogPlayerTiles:nth-child(odd) {
  background-color: #1e4775c0;
  color: white;
  margin: 25px;
  text-align: center;
  border-radius: 25px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dogPlayerTiles:nth-child(even) button {
  background-color: transparent;
  color: #1e4775e1;
  font-size: 20px;
}
.dogPlayerTiles:nth-child(odd) button {
  background-color: transparent;
  color: #f6b40de1;
  font-size: 20px;
}
.playerTileDetails {
  font-size: large;
  font-weight: 600;
}
.playerTilesButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-color: none;
}
.dogPlayerTilebutton {
  font-weight: bold;
}

/* ! -------- SinglePlayer.jsx -------- */
.SPPage {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  width: 100%;
}
.individualPlayerTileDetails {
  background-color: #f6b40dc0;
  color: black;
  margin: 25px;
  text-align: center;
  border-radius: 25px;
}
.playerDetailsLayout {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.playerDetailsBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
  font-size: larger;
}
.playerName {
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}
.SPB {
  margin-bottom: 5px;
}
.SPDetailTitles {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
h4 {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.SPButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.SPBColor {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1e4775ec;
  color: #f6b40dec;
}

/* ! -------- DeleteVerification.jsx -------- */
.verificationMessage {
  display: flex;
  flex-direction: column;
  max-height: 500px;
}
.playerDetailsPhoto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.DVMessage {
  font-size: 30px;
  font-weight: bolder;
  background-color: rgb(255, 0, 0);
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
}
.DVBColor {
  background-color: rgb(0, 255, 0);
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.DVRBColor {
  background-color: red;
  color: black;
}

/* ! -------- MainAddition.jsx -------- */
.MAPDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainAddition {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainAdditionInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
label {
  min-width: 275px;
  text-align: center;
}
input {
  min-width: 250px;
  border-radius: 15px;
  background-color: #1e4775c0;
}
.MAAPBDiv {
  justify-content: center;
}
.MAAPButton {
  text-align: center;
}

/* ! -------- DetailedAddition.jsx -------- */
.mainAddition {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.DADiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6b40dec;
  border-radius: 25px;
}
.DASuccess {
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.DARedirect {
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #1e4775c0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* ! -------- DeletPlayer.jsx -------- */
.DPMDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.DPMDiv2 {
  width: 80%;
  border-radius: 25px;
  background-color: #1e4775ec;
}
.DPMessage {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #f6b40dec;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
